//Fonts
$heading-font: "Jost", sans-serif;
$font: "Nunito Sans", sans-serif;

//Colors
$charcoal-black: #18181B;
$deep-black: #1E1E21;
$midnight-blue: #1A1A1E;
$night-gray: #242427;
$smoke-gray: #1F1F23;
$steel-gray: #aaaaaa;
$pure-white: #FFFFFF;
$blue: #2563eb;


//Media-Queries
$tel: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

//Othes
$separation: 5rem;